<h1>Password Generator</h1>

<hr>

<h2>Instructions</h2>

<p>
  Give us a body of text, the link to an image online, or an image file, and we'll spit out a complex password based on that content!
</p>

<hr>

<h2>Encoder</h2>

<form id="password_input" method="POST", action="/generate_password">
  <label for="input_type">
    Please select your input type
  </label>

  <div>
    <input type="radio" id="input_type_text" name="query_type" value="Text">
    <label for="input_type_text">Text</label>
  </div>

  <div>
    <input type="radio" id="input_type_image_link" name="query_type">
    <label for="input_type_image_link">Image Link</label>
  </div>

  <div>
    <input type="radio" id="input_type_image_file" name="query_type">
    <label for="input_type_image_file">Image File</label>
  </div>

  <br>

  <div>
    <label for="input_content_text">Text or Image Link</label>
    <br>
    <textarea id="input_content_text" name="query_content_text" rows="8" cols="60"></textarea>
  </div>

  <br>

  <div>
    <label for="input_content_file">Image File</label>
    <br>
    <input type="file" id="input_content_image_file" name="query_image_file">
  </div>

  <br>

  <div>
    <label for="input_complexity">Complexity</label>
    <input type="number" id="input_complexity" name="query_complexity" min="1" value="3">

    <div>
      <p>
        (Note: The <i>complexity</i> modifies the creation of the password.
        A low complexity creates a long password, and a high complexity creates a short password.)
      </p>
    </div>
  </div>

  <br>

  <button>Create Password</button>
</form>
