<h1>Success!</h1>

<p>
  Your password:
  <span id="password"><strong><%= @password %></strong></span>
</p>

<!--<p><%#=params%></p>-->

<!--<p>The password is <%#= @password %></p>-->

<!--

<p>The complexity is <%#= @complexity %></p>
<p>The input_type is <%#= @input_type %></p>

<p>The complexity class is <%#= @complexity_class %></p>
-->
